@font-face {
  font-family: 'IRANsans';
  src: url('/font/IRANsans/IRANSans.ttf');
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'sahel';
  src: url('/font/sahel/Sahel.ttf');
  font-style: normal;
  font-weight: normal; 
}
